<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
		  <p>&copy 2020 Kihara Lab.</p>
            

		   <p>  </p><p>
            		  
            
		</div>
		<div class="col-sm-4">
		</div>
		<div class="col-sm-4">
		  Contact:<br />
		  Department of Biological Sciences, Purdue University<br />
		  Hockmeyer Structural Biology Building<br />
		  249 S. Martin Jischke Dr<br />
		  West Lafayette, IN 47907, USA <br />
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
